<div id="<%= dom_id approval %>">
  <p>
    <strong>Votetype:</strong>
    <%= approval.votetype %>
  </p>

  <p>
    <strong>Voter:</strong>
    <%= approval.voter_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= approval.post_id %>
  </p>

  <p>
    <strong>Approvals count:</strong>
    <%= approval.approvals_count %>
  </p>

</div>
