<%= form_with(model: medical_record) do |form| %>
  <% if medical_record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(medical_record.errors.count, "error") %> prohibited this medical_record from being saved:</h2>

      <ul>
        <% medical_record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :patient_id, style: "display: block" %>
    <%= form.text_field :patient_id %>
  </div>

  <div>
    <%= form.label :record_type, style: "display: block" %>
    <%= form.text_field :record_type %>
  </div>

  <div>
    <%= form.label :record_date, style: "display: block" %>
    <%= form.date_field :record_date %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.label :created_by_id, style: "display: block" %>
    <%= form.text_field :created_by_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
