<!-- views/medical_records/_medical_record.html.erb -->
<div class="medical-record-details">
  <h3><%= @medical_record.record_type.titleize %></h3>
  <p>Date: <%= @medical_record.record_date.strftime("%B %d, %Y") rescue 'Not specified' %></p>

  <!-- Determine which partial to render based on the record type -->
  <% case @medical_record.record_type %>
  <% when 'diagnosis' %>
    <%= render partial: 'medical_records/partials/diagnosis', locals: { medical_record: @medical_record } %>
  <% when 'treatment_plan' %>
    <%= render partial: 'medical_records/partials/treatment_plan', locals: { medical_record: @medical_record } %>
  <% when 'prescription' %>
    <%= render partial: 'medical_records/partials/prescription', locals: { medical_record: @medical_record } %>
  <% when 'lab_results' %>
    <%= render partial: 'medical_records/partials/lab_results', locals: { medical_record: @medical_record } %>
  <% when 'imaging' %>
    <%= render partial: 'medical_records/partials/imaging', locals: { medical_record: @medical_record } %>
  <% when 'progress_notes' %>
    <%= render partial: 'medical_records/partials/progress_notes', locals: { medical_record: @medical_record } %>
  <% when 'surgical_reports' %>
    <%= render partial: 'medical_records/partials/surgical_reports', locals: { medical_record: @medical_record } %>
  <% when 'vaccination_records' %>
    <%= render partial: 'medical_records/partials/vaccination_records', locals: { medical_record: @medical_record } %>
  <% else %>
    <% # Default case to handle other or unknown record types %>
  <% end %>

  <!-- Notes Section -->


  <p>Patient: <%= @medical_record.patient.name %></p>
</div>
