<div class="text-center p-4 bg-gray-100">
  <h1 class="text-3xl font-bold text-primary mb-2"><%= @clan.name %></h1>
  <p class="text-lg text-primary mb-4"><%= @clan.description %></p>
</div>

<div class="text-center p-4">
  <h2 class="text-2xl font-bold text-primary mt-8 mb-4">Members</h2>
</div>

<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Role</th>
        <th>Trust Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @clan.clan_memberships.includes(:user).each do |membership| %>
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <td>
          <div class="flex items-center space-x-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <%= image_tag(membership.user.profile_picture, alt: "#{membership.user.name} profile") if membership.user.profile_picture.attached? %>
              </div>
            </div>
            <div>
              <div class="font-bold"><%= membership.user.name %></div>
              <div class="text-sm opacity-50"><%= membership.user.relationship_to_patient %></div>
            </div>
          </div>
        </td>
        <td>
      <% case membership.role %>
      <% when 'clan_poa' %>
        <div class="badge badge-primary">POA</div>
      <% when 'admin' %>
        <div class="badge badge-accent">Admin</div>
      <% when 'member' %>
        <div class="badge badge-secondary">Member</div>
      <% else %>
        <div class="badge badge-neutral"><%= membership.role.capitalize %></div>
      <% end %>
    </td>
        <td>
  <%= form_with url: toggle_trust_clan_path(@clan, user_id: membership.user.id), method: :patch, local: false, html: { class: "form-control w-52" } do |form| %>
    <label class="cursor-pointer label">
      <span class="label-text"><%= membership.user.trust ? 'Trusted' : 'Untrusted' %></span>
      <input type="checkbox" class="toggle <%= membership.user.trust ? 'toggle-primary' : 'toggle-secondary' %>" <%= 'checked' if membership.user.trust %> onchange="this.form.submit();">
    </label>
  <% end %>
</td>

        <td>
          <% if current_user_is_admin?(@clan) %>
            <%= link_to 'Remove', clan_clan_membership_path(@clan, membership), method: :delete, data: { confirm: 'Are you sure?', turbo_method: :delete }, class: "btn btn-ghost btn-xs" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Role</th>
        <th>Trust Status</th>
        <th>Actions</th>
      </tr>
    </tfoot>
  </table>
</div>

<% if current_user_is_admin?(@clan) %>
  <%= link_to 'Edit Clan', edit_clan_path(@clan), class: "btn btn-primary" %> |
  <%= link_to 'Delete Clan', @clan, method: :delete, data: { confirm: 'Are you sure you want to delete this clan?' }, class: "btn btn-error" %>
<% end %>

<%= link_to 'Back to Clans', clans_path, class: "btn" %>
