<!-- views/post/show.html.erb -->
<div class="container mx-auto my-8 p-4 bg-white shadow-lg rounded-lg">
  <div class="flex justify-between items-center mb-4">
    <%= link_to posts_path, class: "btn btn-black" do %>
      <i class="fa-solid fa-circle-chevron-left" style="color: #ffffff;"></i>
    <% end %>
    <div class="text-right">
      <p class="font-mono italic text-sm">Posted <%= time_ago_in_words(@post.created_at) %> ago</p>
      <h1 class="text-2xl font-bold"><%= @post.title %></h1>
    </div>
  </div>

  <div class="post-content mb-4">
    <%= render @post %>
  </div>

  <div class="collapse collapse-arrow bg-base-400 rounded-box shadow-lg">
    <input type="checkbox" class="peer" />
    <div class="collapse-title text-xl font-medium peer-checked:bg-primary peer-checked:text-white text-center">
      Medical Record
    </div>
    <div class="collapse-content bg-white p-4 peer-checked:text-primary-content">
      <% if @medical_record.present? %>
        <%= render 'medical_records/medical_record', medical_record: @medical_record %>
      <% else %>
        <p>No medical record available.</p>
      <% end %>
    </div>
  </div>

  <div class="flex gap-4 mb-4">
    <!-- Approved By Section -->
    <div class="flex-1 bg-primary rounded-lg p-4 flex flex-col items-center">
      <h5 class="text-lg font-semibold text-white mb-2">Approved</h5>
      <div class="<%= 'avatar-group -space-x-6' if @voters_up.size > 4 %> flex flex-wrap justify-center gap-2 mt-2">
        <% @voters_up.limit(4).each do |voter| %>
          <div class="avatar">
            <div class="w-12 h-12 rounded-full">
              <% if voter.profile_picture.present? %>
                <%= image_tag voter.profile_picture, alt: voter.name, class: "rounded-full" %>
              <% else %>
                <img src="https://via.placeholder.com/150" alt="Default Profile Picture" class="rounded-full">
              <% end %>
            </div>
          </div>
        <% end %>
        <% if @voters_up.size > 4 %>
          <div class="avatar bg-gray-300 w-12 h-12 rounded-full flex items-center justify-center">
            +<%= @voters_up.size - 4 %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Disapproved By Section -->
    <div class="flex-1 bg-accent rounded-lg p-4 flex flex-col items-center">
      <h5 class="text-lg font-semibold text-white mb-2">Disapproved</h5>
      <div class="<%= 'avatar-group -space-x-6' if @voters_down.size > 4 %> flex flex-wrap justify-center gap-2 mt-2">
        <% @voters_down.limit(4).each do |voter| %>
          <div class="avatar">
            <div class="w-12 h-12 rounded-full">
              <% if voter.profile_picture.present? %>
                <%= image_tag voter.profile_picture, alt: voter.name, class: "rounded-full" %>
              <% else %>
                <img src="https://via.placeholder.com/150" alt="Default Profile Picture" class="rounded-full">
              <% end %>
            </div>
          </div>
        <% end %>
        <% if @voters_down.size > 4 %>
          <div class="avatar bg-gray-300 w-12 h-12 rounded-full flex items-center justify-center">
            +<%= @voters_down.size - 4 %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flex gap-4 mb-4">
    <!-- Approval Rating Section -->
    <div class="stats shadow w-full bg-gray-100 p-4 rounded-lg mb-4 mx-auto">
      <div class="stat">
        <div class="stat-title">Approval Rating</div>
        <div class="stat-value <%= 'text-primary' if @post.approval_rating > 70 %> <%= 'text-accent' if @post.approval_rating < 50 %> <%= 'text-yellow-500' if @post.approval_rating >= 50 && @post.approval_rating <= 70 %>">
          <%= @post.approval_rating %> %
        </div>
        <div class="stat-desc">Overall Clan approval</div>
      </div>
      <div class="stat">
        <div class="stat-title">Approved</div>
        <div class="stat-value text-primary"><%= @post.get_upvotes.size %></div>
        <div class="stat-desc">Total Approvals</div>
      </div>
      <div class="stat">
        <div class="stat-title">Disapproved</div>
        <div class="stat-value text-accent"><%= @post.get_downvotes.size %></div>
        <div class="stat-desc">Total Disapprovals</div>
      </div>
      <div class="stat">
        <div class="stat-title">Total Votes</div>
        <div class="stat-value"><%= @post.get_upvotes.size + @post.get_downvotes.size %></div>
        <div class="stat-desc">All Votes</div>
      </div>
    </div>
  </div>

  <!-- Comment Sorting Links -->
  <div class="flex justify-center mb-4">
    <div class="dropdown">
      <button class="btn btn-black dropdown-toggle" tabindex="0">
        Sort by <i class="fa-solid fa-caret-down" style="color: #ffffff;"></i>
      </button>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52" style="z-index: 100;">   
        <li> <%= link_to 'Newest', post_path(@post, q: {s: 'created_at desc'}) %> </li>
        <li> <%= link_to 'Oldest', post_path(@post, q: {s: 'created_at asc'}) %></li>
        <li> <%= link_to 'Most Popular', post_path(@post, q: {s: 'replies_count desc'}) %> </li>
        <li> <%= link_to 'Most Controversial', post_path(@post, q: {s: 'cached_vote_diff desc'}) %> </li>
      </ul>
    </div>
  </div>


  <div class="flex gap-4 mb-4">
    <!-- Comment Section -->
    <ul class="timeline timeline-vertical">
      <%= render partial: 'comments/comment', collection: @comments, as: :comment %>
    </ul>
  </div>
</div>
