<div class="fixed top-0 w-full z-50">
  <div class="navbar bg-emerald-500 text-white">
    <div class="flex-1">
      <% if user_signed_in? %>
        <%= link_to 'Care Clan', dashboard_path, class: "btn btn-ghost text-xl" %>
      <% else %>
        <%= link_to 'Care Clan', root_path, class: "btn btn-ghost text-xl" %>
      <% end %>
    </div>

    <div class="flex-none">
      <% if user_signed_in? %>
        <div class="nav-end">
          <%= link_to "Edit #{current_user.name}", edit_user_registration_path, class: "nav-link" %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-accent", data: { turbo_method: :delete } %>

          <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <% if @user.present? && @user.profile_picture.present? %>
              <%= image_tag @user.profile_picture, alt: "User profile picture" %>
             <% elsif current_user && current_user.profile_picture.present? %>
              <%= image_tag current_user.profile_picture, alt: "Default profile picture" %>
             <% else %>
              <%= image_tag "default_profile_picture.png", alt: "Default profile picture" %>
           <% end %>
          </div>
        </div>
      <% else %>
        <%= link_to 'Login', new_user_session_path, class: "btn" %>
        <%= link_to 'Sign Up', new_user_registration_path, class: "btn" %>
      <% end %>
    </div>
  </div>
</div>

