<div class="navbar bg-emerald-500 text-white">
  <div class="flex-1">
    <%= link_to 'Care Clan', root_path, class: "btn btn-ghost text-xl" %>
  </div>

  <div class="flex-none">
    <% if user_signed_in? %>
      <!-- User is authenticated, show profile and settings -->
      <div class="nav-end">
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-accent" %>
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <% if @user.present? && @user.profile_picture.present? %>
            <%= image_tag @user.profile_picture, alt: "User profile picture" %>
          <% else %>
            <%= image_tag "default_profile_picture.png", alt: "Default profile picture" %>
          <% end %>
        </div>
      </div>

    <% else %>
      <!-- User is not authenticated, show login and sign up -->
      <%= link_to 'Login', new_user_session_path, class: "btn" %>
      <%= link_to 'Sign Up', new_user_registration_path, class: "btn" %>
    <% end %>

  </div>
</div>
