<div class="fixed inset-y-0 top-20 left-0 w-64 bg-emerald-500 z-40">
     <div class="flex flex-col">

    <!-- Home Link -->
    <%= link_to 'Home', root_path, class: 'px-4 py-2 text-white hover:bg-emerald-600' %>

    <!-- Posts Link -->
    <%= link_to 'Posts', posts_path, class: 'px-4 py-2 text-white hover:bg-emerald-600' %>

    <!-- Comments Link -->
    <%= link_to 'Comments', comments_path, class: 'px-4 py-2 text-white hover:bg-emerald-600' %>

    <%# <!-- Users Link -->
    <%= link_to 'Users', users_path, class: 'px-4 py-2 text-white hover:bg-emerald-600' %> %>

    <%# <!-- Approvals Link -->
    <%= link_to 'Approvals', approvals_path, class: 'px-4 py-2 text-white hover:bg-emerald-600' %> %>
  </div>
</div>

