<!DOCTYPE html>
<html>

<head>
  <title>CareClan</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <script>
    document.documentElement.setAttribute('data-theme', window.localStorage.getItem('theme'))
  </script>
</head>
 <body class="flex min-h-screen">
  <%= render 'layouts/nav' %> <!-- Renders the navbar partial -->
  <div class="flex flex-1 min-h-screen"> <!-- Wrapping sidebar and content area in a flex container -->
    <%= render 'layouts/sidebar' %> <!-- Sidebar can be fixed or scroll with the page -->

    <div class="flex-1 pt-[4rem]"> <!-- Content area, adjust pt value based on your navbar height -->
      <div class="max-w-4xl mx-auto">
        <%= yield %> <!-- Page-specific content will be loaded here -->
      </div>
    </div>
  </div>
</body>

</html>
