<!DOCTYPE html>
<html data-theme="apple">
<head>
  <meta charset="UTF-8">
  <title>CareClan - Streamline Your Family's Care</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
  <!-- Include Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <!-- Include Daisy UI CSS -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@1.13.1/dist/full.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
  <script src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
  <script src="https://kit.fontawesome.com/897711c116.js" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>

<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
  <script>
    document.documentElement.setAttribute('data-theme', window.localStorage.getItem('theme'));
  </script>
</head>
<body>
  <%= render 'layouts/nav' %> <!-- Renders the navbar partial -->

  <div>
    <% if controller_name == 'welcome' && action_name == 'index' %>
      <%= yield %>
    <% else %>
      <!-- Default layout -->
      <div> 
        <% flash.each do |type, message| %>
          <%= render partial: "layouts/flash", locals: { message: message, css_class: type.to_s } %>
        <% end %>
        <%= yield %>
      </div>
    <% end %>
  </div>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
