# app/views/medical_records/show.html.erb or a relevant partial
<% if notes = JSON.parse(@medical_record.notes) rescue nil %>
  <% notes['results'].each do |test, result| %>
    <div id="<%= "gauge-#{test.parameterize}" %>"></div>

    <script>
      FusionCharts.ready(function () {
        var gauge = new FusionCharts({
          type: 'angulargauge',
          renderAt: '<%= "gauge-#{test.parameterize}" %>',
          width: '400',
          height: '250',
          dataFormat: 'json',
          dataSource: {
            chart: {
              caption: '<%= test %>',
              lowerLimit: '<%= notes["ranges"][test]["clinical_range"].first %>',
              upperLimit: '<%= notes["ranges"][test]["clinical_range"].last %>',
              showValue: '1',
              theme: 'fusion'
            },
            colorRange: {
              color: [
                {
                  minValue: '<%= notes["ranges"][test]["clinical_range"].first %>',
                  maxValue: '<%= notes["ranges"][test]["optimal_range"].first %>',
                  code: '#F2726F' // Red for below optimal
                },
                {
                  minValue: '<%= notes["ranges"][test]["optimal_range"].first %>',
                  maxValue: '<%= notes["ranges"][test]["optimal_range"].last %>',
                  code: '#62B58F' // Green for optimal
                },
                {
                  minValue: '<%= notes["ranges"][test]["optimal_range"].last %>',
                  maxValue: '<%= notes["ranges"][test]["normal_range"].last %>',
                  code: '#00A2E8' // Blue for normal
                },
                {
                  minValue: '<%= notes["ranges"][test]["normal_range"].last %>',
                  maxValue: '<%= notes["ranges"][test]["clinical_range"].last %>',
                  code: '#F2726F' // Red for above normal
                }
              ]
            },
            dials: {
              dial: [{
                value: '<%= result %>'
              }]
            }
          }
        });
        gauge.render();
      });
    </script>
  <% end %>
<% else %>
  <p>Invalid or missing lab results data.</p>
<% end %>
