<!-- views/medical_records/partials/_treatment_plan_fields.html.erb -->
<!-- Treatment Plan Fields -->
<!-- Treatment Plan Fields -->
<div class="form-control">
  <%= form.label :treatment, 'Treatment', class: "label" %>
  <%= form.text_field :treatment, class: "input input-bordered" %>
</div>

<div class="form-control">
  <%= form.label :duration, 'Duration', class: "label" %>
  <%= form.text_field :duration, class: "input input-bordered" %>
</div>

<div class="form-control">
  <%= form.label :follow_up, 'Follow Up', class: "label" %>
  <%= form.text_area :follow_up, class: "textarea textarea-bordered" %>
</div>
